@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir.eot") format("eot"), url("../fonts/vazir.ttf") format("truetype"), url("../fonts/vazir.woff") format("woff"), url("../fonts/vazir.woff2") format("woff2");
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "vazir";
    overflow-x: hidden;
}

.contianer {
    width: 1400px;
    margin: auto;
}

header {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: url("../img/1.jpg");
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav ul {
    display: flex;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
    color: #fff;
}

nav h4 {
    color: #fff;
    font-size: 1.5rem;
}

.intro {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.intro .logo-header {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    display: flex;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.logo-header div {
    margin: 0 5px;
}

.logo-header div:nth-child(2) {
    color: #bb0826;
}

.logo {
    opacity: 0;
    position: relative;
    bottom: -20px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.active {
    opacity: 1;
    bottom: 0;
    transition: all 0.3s ease-in;
}

.fade {
    bottom: 150px;
    opacity: 0;
    transition: all 0.3s ease-in;
}
